<html>
<head>
  <link rel="stylesheet" type="text/css" href="lib/templates/style.css" />
</head>
<body>
<hr />

<p>
  <b>Date Created:</b> {{ date_created }} <br />
  <b>Billing Period:</b> {{ date_begin }} till {{ date_end }}
</p>


<h2>INVOICED TO:</h2>
<address>
  {{ billed_to.name }},<br />
  {{ billed_to.address.lines }},<br />
  {{ billed_to.address.postal }}, {{ billed_to.address.state }},<br />
  {{ billed_to.address.country }},<br />
  abn: {{ billed_to.business_number }}.
</address>

<h2>INVOICED FROM:</h2>
<address>
  {{ billed_from.name }},<br />
  {{ billed_from.address.lines }},<br />
  {{ billed_from.address.postal }}, {{ billed_from.address.state }},<br />
  {{ billed_from.address.country }},<br />
  abn: {{ billed_from.business_number }}.
</address>


<h2>ITEMS:</h2>
<ul class="unstyled invoice-items">
  {% for item in items %}
   <li>
     <table>
       <tr>
	 <td><strong>Start:</strong> {{ item.start }}</td> 
	 <td><strong>End:</strong> {{ item.end }}</td>
	 <td><strong>Rate:</strong> ${{ item.rate }}</td>
	 <td><strong>Duration:</strong> {{ item.duration }}</td> 
	 <td><strong>Total:</strong> ${{ item.total }}</td>
       </tr>
	 <tr>
	   <td colspan="5">
	     {{ item.description }}
	   </td>
	 <tr>
     </table>
   </li>
  {% endfor %}
</ul>

<p>
  <b>SUB-TOTAL:</b> {{ sub-total }}<br />
  <b>TAX [gst]:</b> {{ tax }}
</p>

<h3>TOTAL: <span>{{ total }}</span></h3>

<hr />
</body>
</html>

